$header-background: #fff;
$header-link-color: rgba(44, 56, 74, 0.681);
$header-link-color-hover: rgba(44, 56, 74, 0.95);
$header-brand-color: #4f5d73;

.header {
  background: $header-background;

  .header-brand {
    color: $header-brand-color;
  }

  .header-navbar {
    min-height: 3rem;

    .header-toggler {
      color: $header-link-color;
    }

    .header-nav {
      .nav-link {
        color: $header-link-color;

        &:hover {
          color: $header-link-color-hover;
        }
      }
    }
  }

  .breadcrumb {
    min-height: 2rem;

    .breadcrumb-item {
      a {
        color: $header-link-color;

        &:hover {
          color: $header-link-color-hover;
        }
      }
    }
  }
}

.line {
  border-right: 2px solid rgba(7, 15, 33, 0.32);
  height: 24px;
}

.avatar-breadcrum {
  width: 2rem;
  height: 2rem;
}

.pointer {
  cursor: pointer;
}

.drop-down {
  border: 1px solid rgba(7, 15, 33, 0.1);
  border-radius: 0px 8px 8px 0px;
}

.breadcrum-sort-popup ~ .dropdown-menu{
  transform: translate(3px, 37.7778px)!important;
}

.plus {
  background: #0E8CFF;
  border-radius: 8px;
}

.svg-inline--fa.fa-lg{
  margin-top: 5px;
}