.css-n21gh5 {
    width: 92%;
}

// backlog Card

.api{
    display: inline-block;
    // background: #FFDEFC;
    // margin-left: 3px;
    border-radius: 15px;
    font-size: 10px;
    padding: 1px 5px;
    margin-bottom: 0;
}





.input {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    /* Primary/800 */
    
    border: 1px solid #0E8CFF;
    border-radius: 8px;
    padding: 8px;
    outline: none;
}

.select-button {
    background: #FFFFFF;
    border: 1px solid rgba(7, 15, 33, 0.1);
    border-radius: 6px;
    width: 162px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding: 7px 8px 7px 8px;
    height: 39px;
}

.css-162mkon {
    display: none;
}

.css-42b2qy {
    width: unset;
}

.addButton {
    background: #0E8CFF;
    color: white;
    width: 40px;
    border-radius: 6px;
    border: none;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: auto;
}


// add todo list options

option{
    padding: 5px;
    font-weight: 400!important;
    height: 200px;
}

// todolist

.dropdown-menu{
    transform: translate(73px, 37.7778px)!important;
    width: 235px;
}

